.f{
    display: flex;
   justify-content: space-around;
}

.b{
    font-weight: bold;
}

.w-15{
    width:15%;
}

.w-30{
    width: 30%;
}
@media(max-width: 600px) {
    .f{
        display: block;
    }
}